// Header Menu 
.menu-container {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(197, 226, 255);
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      column-gap: .5rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  
      &>li {
        position: relative;
  
        &>ul {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 100%;
          right: 0;
          background-color: rgb(197, 226, 255);
          width: 100%;
          animation: dropdown 0.2s ease-in-out;
        }
  
        &:hover>ul {
          display: flex;
        }
      }
  
      li ul {
        padding: .25rem;
        z-index: 200;
        min-width: 10rem;
  
        li ul {
          position: absolute;
          right: 92.5%;
          top: 0;
        }
      }
  
      a {
        text-decoration: none;
        color: #333;
        background: dodgerblue;
        color: white;
        display: block;
        padding: .75rem;
        transition: all 0.2s ease-in-out;
  
        &:hover {
          background: rgb(18, 105, 193);
        }
      }
  
      & li:hover,
      & li:hover>a,
      & li ul li:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
  
      &:has(li ul li:hover) {
        background-color: darkgoldenrod;
      }
    }
  }
  
  @keyframes dropdown {
    from {
      transform: scaleY(0);
      opacity: 0;
    }
    to {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  